    html,body { 
      height:100%; 
      margin: 0;
      padding: 0;
      border: 0;
    }
    body {
      background-color: #FFC2C8;
    }
    .container {
      position: relative;
      width: 50%;
    }

    #bookclass {
      height: 250px;
      width: auto;
      padding-left: 10%;
    }

    .container img {
      width: 100%;
      height: auto;
    }

    .container .btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-110%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color: #e699ff;
      color: white;
      font-size: 16px;
      padding: 12px 24px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }

    .container .btn:hover {
      background-color: black;
    }
    .parallax { 
      height: 100%;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
    }

     /* nav bar and search button styling*/
    nav {background-color: #5da2d5; padding: 15px 0px;}
    nav a {color: #fff; font-size: 19px; text-decoration: none;}
    nav ul {list-style-type:none;}
    nav ul li {display: inline-block; padding: 10px 25px 10px 25px; line-height: 2; font-family: 'Flamenco'; font-size: 14pt;}
    .button {background-color: #000; color: #fff; display: inline-block; padding: 4px 15px; border: none;}
  #center-menu{
    text-align: center; 
    vertical-align: center;
  }
 