    html,body { 
      height:100%; 
      margin: 0;
      padding: 0;
      border: 0;
    }

    h1{
      font-family: Flamenco;
      text-decoration: bold;
      font-size: 30pt;
      text-shadow: 4px 4px #FFC2C8;
      line-height: 0.1;
      padding: 0px 0px 0px 0px;
      float: left;
    }

    h2{
      color:#ECECEC;
      font-size: 48pt;
    }
    
    body {
      background-color: #FFC2C8;
    }
    .container {
      position: relative;
      width: 50%;
    }

    #bookclass {
      height: 250px;
      width: auto;
      padding-left: 10%;
    }

    .container img {
      width: 100%;
      height: auto;
    }

    .container .btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-110%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color: #e699ff;
      color: white;
      font-size: 16px;
      padding: 12px 24px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }

    .container .btn:hover {
      background-color: black;
    }
    .parallax { 
      height: 100%;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
    }



  /* HEADER AND FOOTER */

  .main-logo img {width:3%;}
  .fixed {
    position: fixed;
    top: 0;
    left: 0;
  }
  .header {
    overflow: hidden;
    z-index: 9999;
  }
  .sticky {
    position: sticky;
    top: 0;
  }
  .header a:hover {
    color: #000;
    text-decoration: underline;
  }

  .header a.active {
    background-color: #FFC2C8;
    color: #000;
    padding: 12px 12px 12px 12px;
    border-radius: 70px;
  }

  span{
    border:2px #000 solid;
    padding: 15px 15px 15px 15px;
    border-radius: 40px;
  }

   /* nav bar styling*/
  nav {background-color: #ECECEC; padding: 2px 0px; }
  nav a {color: #000; font-size: 19px; text-decoration: none;}
  nav ul {list-style-type:none;}
  nav ul li {display: inline-block; padding: 10px 25px 0px 25px; font-family: 'Flamenco'; font-size: 12pt; line-height: 1.3;}
  .button {background-color: #000; color: #fff; display: inline-block; padding: 4px 15px; border: none;}

  #center-menu{
    text-align: center; 
    vertical-align: center;
  }

 /* footer styling */
  footer {background-color: #ECECEC;}
  footer a {color: #000; font-size: 12px; text-decoration: none;}
  footer ul {list-style-type:none;}
  footer ul li {display: inline-block; padding: 10px 25px 0px 25px; line-height: 0.1; font-family: 'Flamenco'; font-size: 14pt;}

  footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
 